<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>新期造山帯から多く産出される鉱産物</td><td>石油</td><td></li>
  <li><tr><td>熱帯に分布する赤色で養分に乏しい土壌</td><td>ラトソル</td><td></li>
  <li><tr><td>温帯湿潤気候において特にアルゼンチンに分布する温帯草原</td><td>パンパ</td><td></li>
  <li><tr><td>次のうち、近年の森林減少面積が最も大きい国</td><td>ブラジル</td><td></li>
  <li><tr><td>モンゴルの移動式住居</td><td>ゲル</td><td></li>
  <li><tr><td>とうもろこしの生産量世界1位</td><td>アメリカ</td><td></li>
  <li><tr><td>カカオの生産量世界2位</td><td>ガーナ</td><td></li>
  <li><tr><td>船舶の生産量世界2位</td><td>韓国</td><td></li>
  <li><tr><td>次のうち、国際河川ではない河川</td><td>アマゾン川</td><td></li>
  <li><tr><td>次のうち、出生率が死亡率を上回っている国（2015年）</td><td>韓国</td><td></li>
  <li><tr><td>中国のGDPと輸出額の世界順位の組み合わせ（2016年）</td><td>2位、1位</td><td></li>
  <li><tr><td>東南アジア諸国で唯一、植民地を経験しなかった国</td><td>タイ</td><td></li>
  <li><tr><td>インドのICT産業が盛んな地域</td><td>バンガロール</td><td></li>
  <li><tr><td>旧イタリアの植民地</td><td>リビア</td><td></li>
  <li><tr><td>ECを結成するときに基になった3組織に当てはまらない組織</td><td>EFTA</td><td></li>
  <li><tr><td>ロシア周辺の永久凍土層に大量に含まれている化学物質</td><td>メタン</td><td></li>
  <li><tr><td>アジアで最も1人あたりの国民総所得が大きい国</td><td>カタール</td><td></li>
  <li><tr><td>オセアニアで2番目に面積が大きい国</td><td>パプアニューギニア</td><td></li>
  <li><tr><td>愛知の在留外国人数で最も多い国籍</td><td>ブラジル</td><td></li>
  <li><tr><td>大土地所有制の大農園のアルゼンチンでの呼び名</td><td>エスタンシア</td><td></li>
 </ul>
</table> 
</div>

<%= link_to 'もう一度解く', :controller => "quizzes", :action => "tirionea_3" %>
<%= link_to '次の問題へ', :controller => "quizzes", :action => "tirionea_4" %>
<%= link_to '選択画面へ戻る', :controller => "quizzes", :action => "select" %>