<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>赤道一周は何ｋｍ</td><td>4万ｋｍ</td><td></li>
  <li><tr><td>感想帯の短い雨期にだけ生育する短草草原の別名</td><td>ステップ</td><td></li>
  <li><tr><td>冷帯に分布する、灰白色で、養分に乏しい土壌</td><td>ポドゾル</td><td></li>
  <li><tr><td>UNEPの和名</td><td>国連環境計画</td><td></li>
  <li><tr><td>世界の三大穀物に含まれないもの</td><td>サトウキビ</td><td></li>
  <li><tr><td>大豆の生産量世界3位</td><td>アルゼンチン</td><td></li>
  <li><tr><td>石炭の生産量世界2位</td><td>インド</td><td></li>
  <li><tr><td>鉄鋼（粗銅）の生産量世界1位</td><td>中国</td><td></li>
  <li><tr><td>輸出貿易額世界2位の国（2015年）</td><td>ドイツ</td><td></li>
  <li><tr><td>都市部に発達する中心業務地区の英名</td><td>CBD</td><td></li>
  <li><tr><td>韓国の女性が着る伝統衣装</td><td>チマチョゴリ</td><td></li>
  <li><tr><td>1986年から市場経済と対外開放を進めたドイモイ政策を行った国</td><td>ベトナム</td><td></li>
  <li><tr><td>西アジアには世界の原油の何割が埋蔵されているといわれているか</td><td>5割</td><td></li>
  <li><tr><td>フランス語で象牙海岸という意味の国</td><td>コートジボワール</td><td></li>
  <li><tr><td>外国資本による自動車工場が有名なスペインの都市</td><td>バルセロナ</td><td></li>
  <li><tr><td>モスクワに住む多くの人が郊外に持っている別荘の別名</td><td>ダーチャ</td><td></li>
  <li><tr><td>ヨーロッパで2番目に面積が大きい国</td><td>フランス</td><td></li>
  <li><tr><td>世界で最も生産されている鉱産物（重量ベース）</td><td>石炭</td><td></li>
  <li><tr><td>世界で3番目に母語として話す人が多い言語</td><td>英語</td><td></li>
  <li><tr><td>オーストラリアの先住民族</td><td>アボリジニ</td><td></li>
 </ul>
</table> 
</div> 

<%= link_to 'もう一度解く', :controller => "quizzes", :action => "tirionea_5" %>
<%= link_to '選択画面へ戻る', :controller => "quizzes", :action => "select" %>