<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>大陸移動説を唱えた人</td><td>ウェゲナー</td><td></li>
  <li><tr><td>サバナ気候の特徴である長草草原で特にオノリコ川流域での呼び名</td><td>リャノ</td><td></li>
  <li><tr><td>冷帯に分布する、ほぼ単一の樹種からなる針葉樹の純林の別名</td><td>タイガ</td><td></li>
  <li><tr><td>1972年に国連人間環境会議が開催された都市</td><td>ストックホルム</td><td></li>
  <li><tr><td>北アフリカの地下水路</td><td>フォガラ</td><td></li>
  <li><tr><td>牛肉の生産量世界2位</td><td>ブラジル</td><td></li>
  <li><tr><td>原油の生産量世界1位は</td><td>アメリカ</td><td></li>
  <li><tr><td>原油の消費量世界1位</td><td>アメリカ</td><td></li>
  <li><tr><td>インターネットを上手く扱える人とそうでない人の格差</td><td>デジタルデバイド</td><td></li>
  <li><tr><td>旧西ドイツで多く受け入れた外国人労働者の総称</td><td>ガストアルバイター</td><td></li>
  <li><tr><td>韓国でハブ空港として有名な空港</td><td>仁川国際空港</td><td></li>
  <li><tr><td>シンガポールの公用語の数</td><td>4</td><td></li>
  <li><tr><td>イランの公用語</td><td>ペルシャ語</td><td></li>
  <li><tr><td>アスワンハイダムがある国</td><td>エジプト</td><td></li>
  <li><tr><td>EU加盟国の数（2018年）</td><td>28</td><td></li>
  <li><tr><td>バルト三国の内、最も南に位置する国</td><td>リトアニア</td><td></li>
  <li><tr><td>アフリカで最も面積が大きい国</td><td>アルジェリア</td><td></li>
  <li><tr><td>世界で最も生産されている農産物（重量ベース）</td><td>サトウキビ</td><td></li>
  <li><tr><td>沖縄の在留外国人数で最も多い国籍</td><td>中国</td><td></li>
  <li><tr><td>ブラジルのスラムの別名</td><td>ファベーラ</td><td></li>
 </ul>
</table> 
</div> 

<%= link_to 'もう一度解く', :controller => "quizzes", :action => "tirionea_4" %>
<%= link_to '次の問題へ', :controller => "quizzes", :action => "tirionea_5" %>
<%= link_to '選択画面へ戻る', :controller => "quizzes", :action => "select" %>