<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>古期造山帯から多く産出される鉱産物</td><td>石炭</td><td></li>
  <li><tr><td>熱帯における午後から夕方にかけての激しい雨</td><td>スコール</td><td></li>
  <li><tr><td>次のうち、地中海性気候に当てはまらない地域は</td><td>カイロ</td><td></li>
  <li><tr><td>1992年に国連環境開発会議（地球サミット）が開催された場所</td><td>リオデジャネイロ</td><td></li>
  <li><tr><td>都市部の気温が郊外よりも高くなる現象</td><td>ヒートアイランド現象</td><td></li>
  <li><tr><td>小麦の生産量世界3位</td><td>ロシア</td><td></li>
  <li><tr><td>砂糖の生産量世界1位</td><td>ブラジル</td><td></li>
  <li><tr><td>自動車の生産量世界2位</td><td>アメリカ</td><td></li>
  <li><tr><td>商船船腹量の世界1位の国（地域）</td><td>パナマ</td><td></li>
  <li><tr><td>出生率世界1位の国（2015年）</td><td>コンゴ民主共和国</td><td></li>
  <li><tr><td>中国国内に住むチベット族やモンゴル族が主に信仰している宗教</td><td>ラマ教</td><td></li>
  <li><tr><td>次のうち、ASEAN結成時の加盟国</td><td>シンガポール</td><td></li>
  <li><tr><td>ヒンドゥー教でみられる生まれや職業による身分階級制度</td><td>カースト制度</td><td></li>
  <li><tr><td>アフリカで17か国が独立した「アフリカの年」の年号</td><td>1960年</td><td></li>
  <li><tr><td>バスク人が居住するのはどこの国境付近か</td><td>スペインとフランス</td><td></li>
  <li><tr><td>イタリアで、熟練した職人の高い技術力を生かした工業を発達させている地域の別名</td><td>第三のイタリア</td><td></li>
  <li><tr><td>アジアで二番目に面積が大きい国</td><td>インド</td><td></li>
  <li><tr><td>南北アメリカで最も面積が大きい国</td><td>カナダ</td><td></li>
  <li><tr><td>大阪の在留外国人数で最も多い国籍</td><td>韓国</td><td></li>
  <li><tr><td>インディオと白人の混血</td><td>メスチーノ</td><td></li>
 </ul>
</table> 
</div>  

<%= link_to 'もう一度解く', :controller => "quizzes", :action => "tirionea_2" %>
<%= link_to '次の問題へ', :controller => "quizzes", :action => "tirionea_3" %>
<%= link_to '選択画面へ戻る', :controller => "quizzes", :action => "select" %>