<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>天然ガスの生産量世界1位</td><td>アメリカ</tr></td></li>
  <li><tr><td>米（もみ）の生産量世界2位は</td><td>インド</td><td></li>
  <li><tr><td>次のうち、アメリカによる植民地支配を受けた国</td><td>フィリピン</td><td></li>
  <li><tr><td>人間が常に住居している地域</td><td>エクメーネ</td><td></li>
  <li><tr><td>ヨーロッパで最も1人あたりの国民総所得が大きい国</td><td>リヒテンシュタイン</td><td></li>
  <li><tr><td>世界のGDP上位10か国に入らない国（2018年）</td><td>韓国</td><td></li>
  <li><tr><td>北アフリカで主に信仰されている宗教</td><td>イスラム教</td><td></li>
  <li><tr><td>次のうち、鉄鋼業が発達しているルール地方の地名</td><td>ドルトムント</td><td></li>
  <li><tr><td>ジャガイモの生産量世界1位</td><td>中国</td><td></li>
  <li><tr><td>グランドキャニオンがみられる川の名前</td><td>コロラド川</td><td></li>
  <li><tr><td>日本の食料自給率</td><td>38％</td><td></li>
  <li><tr><td>安定陸塊から多く産出される鉱産物</td><td>鉄鉱石</td><td></li>
  <li><tr><td>タワーカルストで有名な中国の地域</td><td>コイリン</td><td></li>
  <li><tr><td>パキスタンやバングラデシュで主に信仰されている宗教</td><td>イスラム教</td><td></li>
  <li><tr><td>次のうち、スイスの公用語でない言語</td><td>英語</td><td></li>
  <li><tr><td>1日中太陽が昇らない時期のこと</td><td>極夜</td><td></li>
  <li><tr><td>ウクライナから西シベリアにかけて分布する黒色土</td><td>チェルノーゼム</td><td></li>
  <li><tr><td>インドのデカン高原に分布する、玄武岩が風化して生成された黒色の土壌</td><td>レグール</td><td></li>
  <li><tr><td>特に水鳥の生息地として国際的に重要な湿地に関する条約</td><td>ラムサール条約</td><td></li>
  <li><tr><td>日常生活で自動車が多く利用されるようになる流れ</td><td>モータリゼーション</td><td></li>
 </ul>
</table> 
</div>


<%= link_to 'もう一度解く', :controller => "quizzes", :action => "tirionea_1" %>
<%= link_to '次の問題へ', :controller => "quizzes", :action => "tirionea_2" %>
<%= link_to '選択画面へ戻る', :controller => "quizzes", :action => "select" %>
