<div class="tirionea_n">
<body>
<h1>クイズ<span>地理</span>オネア</h1>
<hr>
<h2>問題</h2>
<div id="text_q"></div>
<h2>選択</h2>
<div id="text_s"></div>
<h2>解答</h2>
<div id="text_a"></div>
</div>

<script type="text/javascript">
//問題と解答
qa = new Array();
qa[0] = ["天然ガスの生産量世界1位","アメリカ","ロシア","イラン","カナダ",1];
qa[1] = ["米（もみ）の生産量世界2位は","中国","インドネシア","インド","バングラデシュ",3];
qa[2] = ["次のうち、アメリカによる植民地支配を受けた国","ベトナム","フィリピン","インドネシア","タイ",2];
qa[3] = ["人間が常に住居している地域","アネクメーネ","エクメーネ","ラニーニャ","エルニーニョ",2];
qa[4] = ["ヨーロッパで最も1人あたりの国民総所得が大きい国","リヒテンシュタイン","スイス","ノルウェー","ルクセンブルク",1];
qa[5] = ["世界のGDP上位10か国に入らない国（2018年）","日本","中国","韓国","インド",3];
qa[6] = ["北アフリカで主に信仰されている宗教","イスラム教","キリスト教","仏教","ヒンドゥー教",1];
qa[7] = ["次のうち、鉄鋼業が発達しているルール地方の地名","フランクフルト","シャルケ","ドルトムント","ライプツィヒ",3];
qa[8] = ["ジャガイモの生産量世界1位","インド","中国","ロシア","ウクライナ",2];
qa[9] = ["グランドキャニオンがみられる川の名前","ミシシッピ川","コロラド川","コロンビア川","セントローレンス川",2];
qa[10] = ["日本の食料自給率","28％","38％","48％","58％",2];
qa[11] = ["安定陸塊から多く産出される鉱産物","原油","石炭","鉄鉱石","金",3];
qa[12] = ["タワーカルストで有名な中国の地域","コイリン","ハロン","広州","武漢",1];
qa[13] = ["パキスタンやバングラデシュで主に信仰されている宗教","仏教","キリスト教","イスラム教","ヒンドゥー教",3];
qa[14] = ["次のうち、スイスの公用語でない言語","ドイツ語","英語","イタリア語","フランス語",2];
qa[15] = ["1日中太陽が昇らない時期のこと","白夜","黒夜","青夜","極夜",4];
qa[16] = ["ウクライナから西シベリアにかけて分布する黒色土","ノートルダム","ラトソル","チェルノーゼム","レグール",3];
qa[17] = ["インドのデカン高原に分布する、玄武岩が風化して生成された黒色の土壌","レグール","テラロッサ","チェルノーゼム","プレーリー",1];
qa[18] = ["特に水鳥の生息地として国際的に重要な湿地に関する条約","ラムサール条約","京都議定書","下関条約","スイス条約",1];
qa[19] = ["日常生活で自動車が多く利用されるようになる流れ","ロードプライシング","パークアイランド","モータリゼーション","パークシティ",3];




q_sel = 4; //選択肢の数

setReady();

//初期設定
function setReady() {
   count = 0; //問題番号
   ansers = new Array(); //解答記録
   
   //最初の問題
   quiz();
}

//問題表示
function quiz() {
   //問題
   document.getElementById("text_q").innerHTML = (count + 1) + "問目：" + qa[count][0];
   //選択肢
   s = "";
   for (n=1;n<=q_sel;n++) {
       s += "【<a href='javascript:anser(" + n + ")' >" + n + "：" + qa[count][n] + "</a>】";
   }
   document.getElementById("text_s").innerHTML = s;
}

//解答表示
function anser(num) {
   var s;
   s = (count + 1) + "問目：";
   //答え合わせ
   if (num == qa[count][q_sel + 1]) {
       //正解
       s += "○" + qa[count][num];
       ansers[count] = "○";
   } else {
       s += "×" + qa[count][num];
       ansers[count] = "×";
   }
   document.getElementById("text_a").innerHTML = s;
   //次の問題を表示
   count++;
   if (count < qa.length) {
   quiz();
   } else {
       //終了
       s = "<table border='2'><caption>成績発表</caption>";
       //1行目
       s += "<tr><th>問題</th>";
       for (n=0;n<qa.length;n++) {
           s += "<th>" + (n+1) + "</th>";
       }
       s += "</tr>";
       //2行目
       s += "<tr><th>成績</th>";
       for (n=0;n<qa.length;n++) {
           s += "<td>" + ansers[n] + "</td>";
       }
       s += "</tr>";
       s += "</table>";
       document.getElementById("text_q").innerHTML = s;
       //次の選択肢
       s = "【<a href='javascript:history.back()'>前のページに戻る</a>】";
       s += "【<a href='javascript:setReady()'>同じ問題を最初から</a>】";
       s += "【<a href='answer_1'>解答をみる</a>】";
       s += "【<a href='tirionea_2'>次の問題へ</a>】";
       document.getElementById("text_s").innerHTML = s;
   }
}
</script>
</body>
</html>