<div class="top">
 <div class="box">
  <h1>クイズ<span>地理</span>オネア</h1>
  <%= link_to '世界遺産編', :controller => "world_h", :action => "world_h_top" %>
  <%= link_to '高校地理編', :controller => "quizzes", :action => "top" %>
 </div>
</div> 