<div class="tirionea_n">
<body>
<h1>クイズ<span>地理</span>オネア</h1>
<hr>
<h2>問題</h2>
<div id="text_q"></div>
<h2>選択</h2>
<div id="text_s"></div>
<h2>解答</h2>
<div id="text_a"></div>
</div>

<script type="text/javascript">
//問題と解答
qa = new Array();
qa[0] = ["大陸移動説を唱えた人","マルコポーロ","カント","エラトステネス","ウェゲナー",4];
qa[1] = ["サバナ気候の特徴である長草草原で特にオノリコ川流域での呼び名","サバナ","リャノ","カンポ","ステップ",2];
qa[2] = ["冷帯に分布する、ほぼ単一の樹種からなる針葉樹の純林の別名","エゾマツ","トドマツ","タイガ","シベリア",3];
qa[3] = ["1972年に国連人間環境会議が開催された都市","ストックホルム","リオデジャネイロ","京都","ラムサール",1];
qa[4] = ["北アフリカの地下水路","カナート","フォガラ","マンボ","カレーズ",2];
qa[5] = ["牛肉の生産量世界2位","アメリカ","中国","ブラジル","アルゼンチン",3];
qa[6] = ["原油の生産量世界1位は","サウジアラビア","アメリカ","ロシア","UAE",2];
qa[7] = ["原油の消費量世界1位","アメリカ","インド","中国","日本",1];
qa[8] = ["インターネットを上手く扱える人とそうでない人の格差","メディアデバイド","メディアリテラシー","デジタルデバイド","デジタルリテラシー",3];
qa[9] = ["旧西ドイツで多く受け入れた外国人労働者の総称","サイゼアルバイター","ガストアルバイター","ココスアルバイター","ロイホアルバイター",2];
qa[10] = ["韓国でハブ空港として有名な空港","仁川国際空港","済州国際空港","金浦国際空港","金海国際空港",1];
qa[11] = ["シンガポールの公用語の数","3","4","5","6",2];
qa[12] = ["イランの公用語","トルコ語","アラビア語","ペルシャ語","クルド語",3];
qa[13] = ["アスワンハイダムがある国","エジプト","アルジェリア","ナイジェリア","ガーナ",1];
qa[14] = ["EU加盟国の数（2018年）","26","28","31","35",2];
qa[15] = ["バルト三国の内、最も南に位置する国","エストニア","ラトビア","リトアニア","モーリタニア",3];
qa[16] = ["アフリカで最も面積が大きい国","コンゴ民主共和国","アルジェリア","スーダン","リビア",2];
qa[17] = ["世界で最も生産されている農産物（重量ベース）","サトウキビ","トウモロコシ","小麦","米",1];
qa[18] = ["沖縄の在留外国人数で最も多い国籍","アメリカ","ベトナム","中国","韓国",3];
qa[19] = ["ブラジルのスラムの別名","アマゾニアン","ファベーラ","セクター","ストリート",2];



q_sel = 4; //選択肢の数

setReady();

//初期設定
function setReady() {
   count = 0; //問題番号
   ansers = new Array(); //解答記録
   
   //最初の問題
   quiz();
}

//問題表示
function quiz() {
   //問題
   document.getElementById("text_q").innerHTML = (count + 1) + "問目：" + qa[count][0];
   //選択肢
   s = "";
   for (n=1;n<=q_sel;n++) {
       s += "【<a href='javascript:anser(" + n + ")' >" + n + "：" + qa[count][n] + "</a>】";
   }
   document.getElementById("text_s").innerHTML = s;
}

//解答表示
function anser(num) {
   var s;
   s = (count + 1) + "問目：";
   //答え合わせ
   if (num == qa[count][q_sel + 1]) {
       //正解
       s += "○" + qa[count][num];
       ansers[count] = "○";
   } else {
       s += "×" + qa[count][num];
       ansers[count] = "×";
   }
   document.getElementById("text_a").innerHTML = s;
   //次の問題を表示
   count++;
   if (count < qa.length) {
   quiz();
   } else {
       //終了
       s = "<table border='2'><caption>成績発表</caption>";
       //1行目
       s += "<tr><th>問題</th>";
       for (n=0;n<qa.length;n++) {
           s += "<th>" + (n+1) + "</th>";
       }
       s += "</tr>";
       //2行目
       s += "<tr><th>成績</th>";
       for (n=0;n<qa.length;n++) {
           s += "<td>" + ansers[n] + "</td>";
       }
       s += "</tr>";
       s += "</table>";
       document.getElementById("text_q").innerHTML = s;
       //次の選択肢
       s = "【<a href='javascript:history.back()'>前のページに戻る</a>】";
       s += "【<a href='javascript:setReady()'>同じ問題を最初から</a>】";
       s += "【<a href='answer_4'>解答をみる</a>】";
       s += "【<a href='tirionea_5'>次の問題へ</a>】";
       document.getElementById("text_s").innerHTML = s;
   }
}
</script>
</body>
</html>