<div class="top">
 <div class="box">
  <h1>クイズ<span>地理</span>オネア</h1>
  <h1>高校地理編<h/1>
  <%= link_to '問題に挑戦する', :controller => "quizzes", :action => "select" %>
  <%= link_to '問題を投稿する', :controller => "tweets", :action => "new" %>
 </div>
</div> 