<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>京都で多くの寺社を焼失させた戦乱</td><td>応仁の乱</td><td></li>
  <li><tr><td>「モンサンミッシェル」の聖堂を建てるように告げた天使</td><td>聖ミカエル</td><td></li>
  <li><tr><td>世界遺産がもつとされる価値</td><td>普遍的価値</td><td></li>
  <li><tr><td>世界遺産条約の誕生のきっかけ</td><td>アスワンハイダムの建設</td><td></li>
  <li><tr><td>世界遺産を英語に訳すと World (     )</td><td>Heritage</td><td></li>
  <li><tr><td>ユネスコの正式名称</td><td>国際連合教育科学文化機関</td><td></li>
  <li><tr><td>残酷な見世物が催されていたイタリアの世界遺産</td><td>コロッセオ</td><td></li>
  <li><tr><td>2013年に国内のすべての世界遺産が危機遺産登録された国</td><td>シリア</td><td></li>
 </ul>
</table>  
</div>

<%= link_to 'もう一度解く', :controller => "world_h", :action => "w_3" %>
<%= link_to '選択画面へ戻る', :controller => "world_h", :action => "select" %>