<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>次のうち、法隆寺にゆかりのある人物</td><td>聖徳太子</td><td></li>
  <li><tr><td>姫路城の別名</td><td>白鷺城</td><td></li>
  <li><tr><td>屋久島で最も雨がふるのは何月？</td><td>6月</td><td></li>
  <li><tr><td>広島に原爆が投下されたのはいつ</td><td>8月6日</td><td></li>
  <li><tr><td>厳島神社の例祭：管絃祭が行われる季節</td><td>夏</td><td></li>
  <li><tr><td>日光がある都道府県</td><td>栃木県</td><td></li>
  <li><tr><td>富士山が世界遺産に登録された年</td><td>2013年</td><td></li>
  <li><tr><td>岩手県にある世界遺産</td><td>平泉</td><td></li>
  <li><tr><td>白神山地はなんの種類の原生林でしょう</td><td>ブナ</td><td></li>
  <li><tr><td>北海道にある世界遺産の数（2020年）</td><td>1</td><td></li>
 </ul>
</table> 
</div>

<%= link_to 'もう一度解く', :controller => "world_h", :action => "w_2" %>
<%= link_to '次の問題へ', :controller => "world_h", :action => "w_3" %>
<%= link_to '選択画面へ戻る', :controller => "world_h", :action => "select" %>