<div class="answer">
<table border="1"> 
 <ul>
  <li><tr><td>令和2年10月、日本にある世界遺産は何件でしょう</td><td>23</td><td></li>
  <li><tr><td>「世界遺産」が誕生した年</td><td>1972年</td><td></li>
  <li><tr><td>富士山の登録分類</td><td>文化遺産</td><td></li>
  <li><tr><td>ヨーロッパで世界遺産が最も多い国(2020年）</td><td>イタリア</td><td></li>
  <li><tr><td>アジアで最も世界遺産が多い国（2020年）</td><td>中国</td><td></li>
  <li><tr><td>北中米で最も世界遺産が多い国（2020年）</td><td>メキシコ</td><td></li>
  <li><tr><td>南米で最も世界遺産が多い国（2020年）</td><td>ブラジル</td><td></li>
  <li><tr><td>世界遺産として最初に登録されたのは何か所</td><td>12</td><td></li>
  <li><tr><td>「ナスカの地上絵」で最も大きく描かれた動物</td><td>ペリカン</td><td></li>
  <li><tr><td>「サグラダファミリア」があるスペインの都市</td><td>バルセロナ</td><td></li>
 </ul>
</table> 
</div>

<%= link_to 'もう一度解く', :controller => "world_h", :action => "w_1" %>
<%= link_to '次の問題へ', :controller => "world_h", :action => "w_2" %>
<%= link_to '選択画面へ戻る', :controller => "world_h", :action => "select" %>