<div class="contact-form">
 <h3 class="section-title">あなたの知識をクイズにしよう！！</h3>
 <p>問題（必須）</p>
 <input>
 <p>解答（必須）および選択肢に入れるもの（任意）</p>
 <textarea></textarea>
 <p>※必須項目は必ずご入力ください</p>
 <input class="contact-submit" type="submit" value="送信">
</div>

